body {
    font-family: 'Inter', sans-serif;
    max-width: 1440px;
}

.cat-btn {
    transition: scale 0.1s;
}

.cat-btn:hover {
    scale: 1.1;
    background-color: #ff1f3d52;
}

.main-btn {
    background-color: #FF1F3D;
    border-radius: 0.25rem;
    padding: 0.625rem 1.25rem;
    color: white;
    font-size: 1.125rem;
    font-weight: 500;
}

.cat-btn {
    padding: 0.5rem 1.25rem;
    color: rgba(37, 37, 37, 0.70);
    font-weight: 500;
    border-radius: 0.25rem;
    background: #25252526;
}

.cat-btn:focus {
    background-color: #FF1F3D;
    color: white;
}

.vid-title {
    color: #171717;
    font-weight: 700;
    line-height: 1.625rem;
    /* 162.5% */
}

.plain-text {
    color: rgba(23, 23, 23, 0.70);
    font-size: 0.875rem;
}

.time-tag {
    color: #FFF;
    font-size: 0.625rem;
    padding: 0.25rem 0.3125rem;
    background-color:#171717;
    position: absolute;
    bottom: 0.75rem;
    right: 1rem;
    border-radius: 0.25rem;
}

.brr {
    border: 1px solid red;
}

.brb {
    border: 1px solid blue;
}
img:not(.svg){
    object-fit: cover;
    object-position: center;
}
